.equipo {
    display: flex;
    gap: 40px;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    font-family: "urbanist-medium";
    position: relative;
    width: 100vw;
}

.lista-burbujas {
    margin-top: 10vh;
    margin-left: 1vw;
    position: relative;
    width: 70vw;
    height: 45vh;
    left: 6vw;
}

.burbuja {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    max-width: fit-content;
    height: fit-content;
    border-radius: 50%;
    position: absolute;
}

.burbuja:hover {
    background: #e3e3e3;
    transform: translateX(10px);
}
.burbuja.selected {
    box-shadow: 0px 5px 15px #666666;
    transform: scale(1.2);
}

.burbuja img {
    /* width: 3.5rem;
    height: 3.5rem; */
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    object-fit: cover;
}


.columna-detalle {
    padding: 20px;
}

.placeholder-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #666666;
    text-align: left;
    font-family: "urbanist-regular";
}


.tarjeta-persona {
    display: flex;
    justify-content: center;
    color: black;
}

.info-persona {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 55vw;
}

.tarjeta-persona span {
    font-size: 0.85rem;
}

.foto-perfil {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-persona .nombre {
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 20vw;
    font-weight: 500;
}

.nombre,
.info-persona span {
    padding-left: 1rem;
}

.box-divi {
    margin-top: 5%;
    width: 100%;
    height: 1vh;
    border-left: 1px solid #333333a2;
    border-right: 1px solid #333333a2;
    border-bottom: 1px solid #333333a2;
}

.info-persona .cargo {
    font-size: .9rem;
    text-align: left;
    font-weight: 500;
}

.detalle {
    padding-left: 1rem;
}

.cargo {
    padding: 1rem 0;
    width: 50%;
}

.block-det {
    width: 20%;
    height: 9px;
    background-color: black;
}

.detalle p {
    font-size: 0.9rem;
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.burbuja8 {
    left: 20%;
    top: 74%;
}

.burbuja2 {
    top: 32%;
    left: 77%;
}

.burbuja3 {
    left: 19%;
    top: 29%;
}

.burbuja4 {
    left: 26%;
    top: 53%;
}

.burbuja5 {
    left: 39%;
    top: 6%;
}

.burbuja6 {
    left: 60%;
    top: 50%;

}

.burbuja7 {
    left: 52%;
    top: 80%;
}

.burbuja1 {
    left: 82%;
    top: 64%;
}

.burbuja9 {
    left: 74%;
    top: 10%;
}

.burbuja-rell1, .burbuja-rell2, .burbuja-rell3,
.burbuja-rell4, .burbuja-rell5, .burbuja-rell6,
.burbuja-rell7 {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid 1px #999999;
    position: absolute;
}

.burbuja-rell1 {
    left: 48%;
    top: 42%;
}

.burbuja-rell2 {
    left: 15%;
    top: 58%;
}

.burbuja-rell3 {
    left: 60%;
    top: 37%;
}

.burbuja-rell4 {
    left: 52%;
    top: 53%;
}

.burbuja-rell5 {
    left: 49%;
    top: 66%;
}

.burbuja-rell6 {
    left: 69%;
    top: 70%;
}

.burbuja-rell7 {
    left: 91%;
    top: 57%;
}

@media (min-width: 1000px) {
    .linea-equi {
        grid-row: 2;
        grid-column: 1;
        width: 5vw;
        height: 1px;
        background-color: black;
        justify-self: end;
    }
    .placeholder-detalle {
        position: relative;
        left: 3vw;
        width: 14vw;
    }

    .info-persona {
        position: relative;
        left: 5vw;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }


    .lista-burbujas {
        width: 30vw;
        height: 47vh;
        left: 35vw;
        margin-top: 17vh;
        z-index: 1000;
    }

    .burbuja img {
        width: 9vh;
        height: 9vh;
    }

    .columna-detalle {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translate(0px, -50%);
        height: 38vh;
    }




    .cargo {
        padding: 0;
        width: 100%;
    }






    .burbuja-rell1, .burbuja-rell2, .burbuja-rell3, .burbuja-rell4, .burbuja-rell5, .burbuja-rell6, .burbuja-rell7 {
        width: 3vh;
        height: 3vh;
    }

    .burbuja1 {
        left: 79%;
        top: 80%;
    }

    .burbuja2 {
        top: 9%;
        left: 63%;
    }

    .burbuja3 {
        left: -16%;
        top: 52%;
    }

    .burbuja4 {
        left: 17%;
        top: 46%;
    }    

    .burbuja5 {
        left: 31%;
        top: -1%;
    }

    .burbuja6 {
        left: 68%;
        top: 46%;
    }

    .burbuja7 {
        left: 48%;
        top: 96%;
    }

    .burbuja8 {
        left: 14%;
        top: 86%;
    }
    
    .burbuja9 {
        left: -5%;
        top: 8%;
    }
    

    .burbuja-rell1 {
        left: 34%;
        top: 37%;
    }

    .burbuja-rell2 {
        left: -4%;
        top: 89%;
    }

    .burbuja-rell3 {
        top: 33%;
        left: 52%;
    }

    .burbuja-rell4 {
        left: 42%;
        top: 82%;
    }

    .burbuja-rell5 {
        left: 54%;
        top: 55%
    }   

    .burbuja-rell6 {
        left: 74%;
        top: 80%;
    }

    .burbuja-rell7 {
        left: 91%;
        top: 37%;
    }










    .info-persona .nombre {
        font-size: 3rem;
        grid-column: 1;
        grid-row: 1;
    }

    .box-divi {
        grid-column: 5;
        grid-row: 1 / 5;
        width: 2vw;
        height: 36vh;
        justify-self: end;
        height: 36vh;
        border-top: 1.1px solid #333333a2;
        border-right: 1.1px solid #333333a2;
        border-bottom: 1.1px solid #333333a2;
        border-left: 0px;
    }

    .detalle {
        grid-column: 6 / 8;
        grid-row: 1 / 3;
        height: 100%;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .detalle p{
        width: 30vh;
        font-size: 1.3rem;
    }

    .info-persona .cargo {
        font-size: 1.9rem;
    }

    .block-det {
        width: 5vh;
    }

    .tarjeta-persona span {
        font-size: 1.2rem;
        grid-column: 1;
        grid-row: 2;
    }

}

@media (min-width: 1200px) { 
    .linea-equi {
        width: 5vw;
        top: 9vh;
        left: 16vw;
    }
    .lista-burbujas {
        width: 30vw;
        left: 34vw;
    }

    .burbuja img {
        width: 11vh;
        height: 11vh;
    }

    .burbuja-rell1, .burbuja-rell2, .burbuja-rell3, .burbuja-rell4, .burbuja-rell5, .burbuja-rell6, .burbuja-rell7 {
        width: 3vh;
        height: 3vh;
    }


    .info-persona .cargo {
        left: 58vw;
    }
    .block-det {
        top: 24vh;
    }
    
    .detalle p {
        top: 25vh;
    }
    .block-det, .detalle p{
        left: 58vw;
    }

    .box-divi {
        border-top: 1.3px solid #333333a2;
        border-right: 1.3px solid #333333a2;
        border-bottom: 1.3px solid #333333a2;
        border-left: 0px;
    }
}

@media (min-width: 1700px) {
    .info-persona .nombre {
        font-size: 4rem;
        width: 16vw;
    }

    .info-persona .cargo {
        top: 5vh;
    }

    .linea-equi {
        grid-column: 2;
        justify-self: flex-start;
    }

    .lista-burbujas {
        left: 33vw;
    }
    .info-persona .cargo {
        font-size: 3.1rem;
        width: 36vh;
    }

    .detalle p {
        font-size: 1.8rem;
    }

    .tarjeta-persona span {
        font-size: 1.8rem;
    }

    .placeholder-detalle {
        left: 3vw;
        width: 19vw;
        font-size: 2rem;
    }
}