.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2% 2vw 0 2vw;
    height: 8vh;
    position: fixed;
    z-index: 20000;
    width: 100vw;
    background-color: transparent;
}

.submenu {
    margin-top: 0.5rem;
    margin-left: 1rem;
    list-style: none;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    height: 0;
    transform: rotate(90deg) translateX(1rem);
    background-color: #33333391;
}

.submenu.visible {
    max-height: 500px;
    height: auto;
    padding: 1rem;
    transform: rotate(90deg) translateX(1rem);
    /* Arbitrario, suficiente para mostrarlo */
}

.submenu.hidden {
    max-height: 0;
}




.navbar.in-clientes,
.navbar.in-equipo {
    background-color: white;
}


.navbar.in-nosotros {
    background-color: #F29C37;
}

.nav-black {
    color: black;
}

.prod-navpos {
    color: #f29a36;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.ulvert {
    color: #333333;
}

.logoblanco.in-home {
    opacity: 1;
}

.logocolor.in-home {
    opacity: 0;
}


.navbar.in-home .ulvert,
.navbar.in-home .ulhor,
.navbar.in-nosotros .ulvert,
.navbar.in-nosotros .ulhor {
    color: #ffffff;
}

.navbar.in-productos {
    background-color: #036E7C;
    height: 7vh;
}

.logoblanco.in-productos {
    opacity: 1;
}

.logocolor.in-productos {
    opacity: 0;
}

.nav-prod.in-productos {
    color: #f29a36;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.navbar.in-productos .ulvert,
.navbar.in-productos .ulhor {
    color: white;
}


.nav-clien.in-clientes {
    color: #f29a36;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.navbar.in-clientes .ulvert,
.navbar.in-clientes .ulhor,
.navbar.in-equipo .ulvert,
.navbar.in-equipo .ulhor {
    color: #333333;
}

.logoblanco.navbar.in-clientes {
    opacity: 0;
}


.navbar.in-clientes .logocolor {
    opacity: 1;
}

.nav-us.in-nosotros {
    color: #036E7C;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.logoblanco.in-nosotros {
    opacity: 1;
}

.logocolor.in-nosotros {
    opacity: 0;
}

.nav-team.in-equipo {
    color: #f29a36;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.logoblanco.in-equipo {
    opacity: 0;
}

.logocolor.in-equipo {
    opacity: 1;
}

.nav-conta.in-contacto {
    color: #f29a36;
    font-size: 1.2rem;
    font-family: "urbanist-black";
}

.logoblanco.in-contacto {
    opacity: 1;
}

.logocolor.in-contacto {
    opacity: 0;
}

.navbar.in-contacto .ulvert,
.navbar.in-contacto .ulhor {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 50px;
    padding-top: 2.5%;
}

.logocolor,
.logoblanco {
    cursor: pointer;
}

.logoblanco {
    opacity: 0;
}

.menu {
    background-color: white;
    color: rgb(41, 41, 41);
    font-family: 'urbanist-medium';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vh;
    font-size: 0.75rem;
    margin-top: 1%;
    margin-right: 4vw;
    height: 3vh;
    color: black;
}

.menu.open {
    background-color: #cdcbcb;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 17vh;
    justify-content: space-around;
}

.open li {
    font-size: 1rem;
    margin-bottom: 3px;
}

#menu-toggle {
    letter-spacing: 0.6px;
}

#menu-prod,
#menu-clie,
#menu-nos,
#menu-equi,
#menu-cont {
    display: none;
}

#menu-nos.in-nosotros {
    display: block;
}

#menu-toggle.in-nosotros {
    display: none;
}

#menu-prod.in-productos {
    display: block;
}

#menu-toggle.in-productos {
    display: none;
}

#menu-prod.nav-black {
    display: block;
}

#menu-toggle.nav-black {
    display: none;
}

#menu-equi.in-equipo {
    display: block;
}

#menu-toggle.in-equipo {
    display: none;
}

#menu-clie.in-clientes {
    display: block;
}

#menu-toggle.in-clientes {
    display: none;
}

#menu-cont.in-contacto {
    display: block;
}

#menu-toggle.in-contacto {
    display: none;
}


.list {
    display: none;
}

.list.open {
    display: block;
    /* Mostrar el menú cuando está abierto */
}

.ulhor.open {
    display: none;
    /* Mostrar el menú cuando está abierto */
}

.logocolor {
    transform: translateY(-117%);
}

.navbar .menu .list ul li.hovered {
    background-color: #f0a500;
    /* color de fondo cuando se haga hover */
    color: white;
    /* color del texto cuando esté seleccionado */
}

.navlateral {
    display: none;
}

@media (min-width: 750px) {
    .logo {
        width: 70px;
    }

    .menu {
        margin-top: 0;
        font-size: 0.7rem;
        transform: translateY(20%);
    }

}

@media (min-width: 1000px) {
    .logo {
        padding-top: 0;
        width: 4rem;
        transform: translate(1vw, 1vh);
    }

    .menu {
        background-color: #ce3d1500;
        color: #333333;
        transform: translateX(-95vw);
    }



    #menu-toggle {
        display: none;
    }

    #menu-prod,
    #menu-clie,
    #menu-nos,
    #menu-equi,
    #menu-cont {
        display: none;
    }

    .list {
        display: inline;
    }

    .ulvert,
    .ulhor {
        display: inline-flex;
        position: absolute;
        top: 1.5vh;
        left: 15vw;
        text-decoration: none;
        font-size: 0.8rem;
        gap: 3vh;

    }

    .ulvert li,
    .ulhor li {
        cursor: pointer;
    }

    .ulhor {
        display: inline-flex;
        position: absolute;
        transform: rotate(-90deg);
        left: -1.1vw;
        top: 16vh
    }

    .navlateral {
        height: 100vh;
        width: 6vw;
        position: absolute;
        display: block;
        left: 0;
    }

    .navlateral.in-productos {
        background-color: #036E7C;
    }
}


@media (min-width: 1200px) {
    .logo {
        width: 5rem;
    }

    .ulvert {
        font-size: 0.9rem;
        left: 13vw;
    }

    .ulhor {
        font-size: 0.9rem;
    }
}

@media (min-width: 1700px) {

    .ulvert,
    .ulhor {
        gap: 4vh;
    }

    .logocolor {
        transform: translateY(-108%);
    }

    .logo {
        width: 7rem;
    }

    .ulhor {
        left: -1vw;
        top: 20vh;
        font-size: 1.2rem;
    }

    .ulvert {
        font-size: 1.2rem;
    }

    .nav-clien.in-clientes,
    .nav-conta.in-contacto,
    .nav-us.in-nosotros,
    .nav-team.in-equipo,
    .nav-conta.in-contacto,
    .nav-prod.in-productos,
    .nav-prod.prod-navpos {
        font-size: 1.6rem;
    }
}