.nosotros {
    position: relative;
    width: 100vw;
    background-color: #F29C37 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "urbanist-medium";
    overflow-x: hidden;
    color: #f7eeba;
}

.values-section {
    flex-direction: column;
    font-family: "urbanist-regular";
    letter-spacing: 1px;
}

.values-section h2{
    text-align: left;
    padding-bottom: 4vh;
    font-size: 1.3rem;
    font-family: "urbanist-black"; 
    text-align: end;
}

.text-section, .values-section {
    width: 80vw;
    padding-bottom: 5vh;
    display: flex;
    position: relative;

}

.values-section {
    margin-bottom: 5vh;
    margin-top: 11vh;
    color: #036E7C;
}

.text-section {
    text-align: left;
    font-size: 1.1rem;
    align-items: center;
    height: 55vh;
    line-height: 1.1;
    padding-top: 10vh;
}

.text-section span {
    color: #036E7C;
}

/* .value {
    display: flex;
    justify-content: space-between
} */

.value {
    display: flex;
    flex-direction: column;
}

.values {
    display: grid;
    gap: 5vh;
    grid-template-columns: 5vw 65vw;
    grid-template-rows: repeat(5, 1fr);
}

.val-description {
    text-align: start;
    font-size: 0.8rem;
    color: #f7eeba;
    grid-column: 2;
    padding-top: 4vh;
}

.subtittle {
    text-align: left;
    grid-column: 2;
    align-self: baseline;
    font-family: "urbanist-bold";
}

.progress {
    height: 100%;
    width: 2px;
}


.subtittle.escep, .val-description.escep {
    grid-row: 1;
}

.subtittle.criticismo, .val-description.criticismo {
    grid-row: 2;
}

.subtittle.pesimismo, .val-description.pesimismo {
    grid-row: 3;
}

.subtittle.trans, .val-description.trans {
    grid-row: 4;
}

.subtittle.competencia, .val-description.competencia {
    grid-row: 5;
}

.ball-contain {
    grid-column: 1;
    justify-self: center;
}

.ball-contain.escep {
    grid-row: 1;
}

.ball-contain.criticismo {
    grid-row: 2;
}

.ball-contain.pesimismo {
    grid-row: 3;
}

.ball-contain.trans {
    grid-row: 4;
}

.ball-contain.competencia {
    grid-row: 5;
}

.line-container {
    grid-column: 1;
    grid-row: 1 / 6;
    justify-self: center;
}

.line-background {
    width: 5px;
    height: 100%;
    background-color: #cccccc;
}


/* Barra de progreso */
.line-progress {
    width: 100%; /* Inicialmente sin ancho */
    height: 0%;
    background-color: #036E7C; 

    top: 0;
    left: 0;
}

.ball-contain {
    align-self: center;
    justify-self: center;
    width: 2rem;
    height: 2rem;
    background-color: #F29C37 ;
    position: relative;
    grid-column: 1;
    justify-self: center;
}

.sub-ball {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.value h3, .value p {
    opacity: 0.3; 
    color: #cccccc; 
}

@media (min-width: 1000px) {

    .text-section {
        height: 65vh;
        width: 58vw;
        align-self: self-end;
        margin-right: 8vw;
        font-size: 1.8rem;
    }
    .line-container {
        grid-column: 2;
        grid-row: 1 / -1;
        display: flex;
        justify-content: center;
    }

                    /* sección del grid */

    .subtittle.escep,
    .subtittle.criticismo,
    .subtittle.pesimismo,
    .subtittle.trans,
    .subtittle.competencia
     {
        grid-column: 1;
        align-self: center;
    }

    .val-description.escep,
    .val-description.criticismo,
    .val-description.pesimismo,
    .val-description.trans,
    .val-description.competencia
     {
        grid-column: 3;
        align-self: center;
        padding-top: 0;
    }

    .ball-contain.pesimismo {
        grid-row: 3;
    }

    .ball-contain.trans {
        grid-row: 4;
    }

    .ball-contain.competencia {
        grid-row: 5;
    }

    .value {
        display: flex;
        flex-direction: row;
        
    }
    .values-section h2 {
        font-size: 1.5rem;
    }

    .values {
        display: grid;
        grid-template-columns: 20vw 5vw 50vw;
        grid-template-rows: repeat(5, 1fr);
    }

    .escep .ball-contain{
        grid-column: 3;
    }

    .ball-contain.criticismo {
        grid-row: 2;
    }

    .val-description {
        width: fit-content;
        padding-left: 0;
        font-size: 1.2rem;
        line-height: 3vh;
        letter-spacing: 1px;
        padding-bottom: 4vh;
    }

    .ball-contain.escep {
        grid-row: 1;
    }

    .subtittle {
        transform: translateY(0);
        max-width: 18vw;
        font-size: 1.2rem;
        letter-spacing: 0px;
    }

    .line-background {
        width: 4px;
    }

    .ball-contain {
        width: 3rem;
        height: 3rem;
        left: 0;
        grid-column: 2;
        justify-self: center;
    }

    .sub-ball {
        height: 1.8rem;
        width: 1.8rem;
    }

}

@media (min-width: 1200px) {
    .subtittle {
        font-size: 1.55rem;
    }



    .text-section {
        height: 90vh;
    }
}

@media (min-width: 1800px) {

    .subtittle {
        font-size: 2.3rem;
    }

    .text-section {
        font-size: 2.5rem;
    }


    .values-section h2 {
        font-size: 3.9rem;
        letter-spacing: -2px;
    }

    .values {
        font-size: 1.8rem;
    }

    .val-description {
        font-size: 1.8rem;
    }

}